{% extends "app/layout.html" %}

{% block content %}

  <br/>
    <br/>

  <br/>
    <br/>

  <br/>
    <br/>
<!--Table-->
<table class="table table-striped w-auto">

  <br/>
    <br/>
  <thead>
    <tr>

      <th>Name</th>
      <th>Surname</th>
      <th>Country</th>
      <th>City</th>
      <th>Position</th>
      <th>Age</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody id='klp'>

  </tbody>
  <!--Table body-->


</table>
<!--Table-->
 {% load staticfiles %}
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function(){
var str=''
            $.ajax({
            type: "Post",
            url: "http://127.0.0.1:8000/Api/",
            data: {
                "data":'',
            },
            dataType: "json",

            //if received a response from the server
            success: function( datas, textStatus, jqXHR) {

                          $.each(datas, function (index, data) {





                         str ='<tr><th>'+data.fields.title+'</th><th>Surname</th><th>Country</th><th>City</th><th>Position</th><th>Age</th></tr>'

                    console.log('index', data.fields.title)

                    $('#klp').append(str)
                })





            },

            //If there was no resonse from the server
            error: function(jqXHR, textStatus, errorThrown){
alert('error')
            },

            //capture the request before it was sent to server
            beforeSend: function(jqXHR, settings){

            },

            //this is called after the response or error functions are finished
            //so that we can take some action
            complete: function(jqXHR, textStatus){

            }

        });


        });

    </script>

{% endblock %}





